# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [13]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [14]:
result_mul = num1 *  num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [15]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [16]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [18]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [19]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [22]:
name = "Sierra"
print(name)

Sierra

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print("This is my first name:", name)

print("Full name:", name, end=" Bounds")

This is my first name: Sierra
Full name: SierraBounds

##### String Concatenation

In [24]:
first_name = "Sierra"
last_name = "Bounds"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Ms"
print(full_name)

Sierra Bounds
Sierra Bounds, Ms

##### Type Conversion

In [26]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [34]:
#Input will always return a string

# name = input('What is you name? ')
# print("Nice to meet you, " + name)

age = int(input("What is you age? : "))
add_age = age + 5
print(add_age)

What is you name? Sierra
Nice to meet you, Sierra
What is you age? : 78
83

##### format()

In [36]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 12
You are 12 Sierra and you are getting wiser!
12 is a great time in life!!!

##### Old Way (python 2)

In [37]:
result_string2 = "You are %s and look great for your age" %age
print(result_string2)

You are 12 and look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [42]:
color = input("Enter vehicle color: ").upper()
year = input("Enter vehicle year: ")
make = input("Enter vehicle make: ").upper()
model = input("Enter vehicle model: ").upper()

print(f"Your vehicle is a {color} {year} {make} {model}.")

Enter vehicle color: black
Enter vehicle year: 2003
Enter vehicle make: Toyota
Enter vehicle model: Tundra
Your vehicle is a BLACK 2003 TOYOTA TUNDRA.

### If Statements

In [51]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 == 6:
#     print("This is true!")
# else: 
#     print("Not Equal")
    
if num2 < num1 or num3 > 0:
    print("This ran!")
else: 
    print("You are here")

This ran!

##### 'is' keyword

In [53]:
# the "is" keyword is for checking for the same objet, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [54]:
# check if a character is in a string 

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [55]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here . . .")

a is NOT here . . .

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [58]:
user_word = input("Enter a word: ").lower()

if 'p' in user_word:
    print("Entered word does have a 'p' in it.")
else:
    print("Entered word does NOT have a 'p' in it.")

Enter a word: apple
Entered word does have a 'p' in it.

## Using 'and'/'or' with If Statements

In [62]:
num11 = 15
num12 = 3
num13 = 10
num14 = 3

#If with 'and' statement 
if num11 / 5 == num12 and num13 -7 == num14:
    print("True & True")

# If with 'or' statement
if num13 == num14 or num11 > num12:
    print("False & True")

True & True
False & True

### Elif Statements

In [67]:
first_name = input("What is your name? ").title()

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Sierra":
    print("The name is Sierra")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your name? sierra
The name is Sierra

### Else Statements

In [65]:
# see above

### For Loops

In [69]:
#Syntax:
#for counter in condition 

name = "Sierra Bounds"
a_list = [1, 2, 3, 4]


for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [73]:
name = "Sierra Bounds"

for i in name:
    if i == "a": 
        continue
    print(i)

S
i
e
r
r

B
o
u
n
d
s

##### Break Statement

In [ ]:
# will break out of current loop

In [77]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [76]:
name = "Sierra Bounds"

for i in name:
    if i == "a": 
        pass

##### Double For Loops

In [78]:
for i in range(5):
    for j in range(5):
        print(f"i = {i}  j = {j}")

i = 0  j = 0
i = 0  j = 1
i = 0  j = 2
i = 0  j = 3
i = 0  j = 4
i = 1  j = 0
i = 1  j = 1
i = 1  j = 2
i = 1  j = 3
i = 1  j = 4
i = 2  j = 0
i = 2  j = 1
i = 2  j = 2
i = 2  j = 3
i = 2  j = 4
i = 3  j = 0
i = 3  j = 1
i = 3  j = 2
i = 3  j = 3
i = 3  j = 4
i = 4  j = 0
i = 4  j = 1
i = 4  j = 2
i = 4  j = 3
i = 4  j = 4

### While Loops

In [79]:
#syntax:
#while-keyword, condition statement

num = 0 

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [81]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to stop?").title()
    if user_input == "Yes":
        game_over = False

Infinite Loop
Would you like to stop?no
Infinite Loop
Would you like to stop?no
Infinite Loop
Would you like to stop?no
Infinite Loop
Would you like to stop?aaaaah
Infinite Loop
Would you like to stop?yes

##### While & For Loops Used Together

In [88]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
        
    num += 1

 While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [91]:
# range(start, stop, step

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [93]:
naem = input("Give the name of your favorite book: ")

length = len(name)
print(length)

Give the name of your favorite book:  Lord of the Rings
13

##### help()

In [95]:
# use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [101]:
# check a variable to find out what object family (or data type) it belongs to 
# isinstance(var, type)

num = 4.5

if isinstance(num, int):
    print(f"{num} is an int ")
else:
    print(f"{num} is a float!")

4.5 is a float!

##### abs()

In [102]:
# e.g. (-5) => 5

print(abs(-5))

5

### Try and Except

In [110]:
# Use this to log out graceful and useful error messages
#Does not stop the program! Neato!

# input_num = int(input("Guess a number: "))
# print("Your number is " + str(input_num))

try:
    input_num = int(input("Guess a number: "))
    print("Your number is " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number: 5
Your number is 5

### Lists

##### Declaring Lists

In [112]:
list_1 = []

names = ["Max", "Cindy", "kathy", "bob", "Nate"]

print(names)

True

##### Indexing a List

In [126]:
#list_name[start: stop: step]

#Single Index
print(names[1])

#print starting at index 1 goint to the end
print(names[1:])

# Print starting at the beginning of a list up unitl a number 
print(names[:2])

#Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order 
print(names[::-1])

Cindy
['Cindy', 'kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'kathy', 'Cindy', 'Max']

##### .append()

In [140]:
names.append("Sierra")
print(names)

['Max', 'Cindy', 'Devon', 'Sierra', 'Sierra', 'Sierra']

##### .insert()

In [136]:
names.insert(3, "Devon")
print(names)

['Max', 'Cindy', 'Sierra', 'Devon']

##### .pop()

In [141]:
#defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable 
 
my_name = names.pop(2)
print(my_name)
print(names)

Devon
['Max', 'Cindy', 'Sierra', 'Sierra', 'Sierra']


##### .remove()

In [144]:
# value to be removed rather than index

# names.remove("bob")
# print(names)

#remove multiple sierras from list
while "Sierra" in names:
    names.remove("Sierra")

print(names)

['Max', 'Cindy']

##### del()

In [145]:
# Goes by index, rather than value
# Be careful with del, it can cause errors if not used carefully

del(names[1])
print(names)

['Max']

##### Concatenating Two Lists

In [153]:
# will append two lists together, will NOT add the values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [151]:
#lists can hold ANY type of other elemnt! including other lists!
# they can go as deep as you want; this is called nested lists


names = ["Max", "sam", "Josh", ["sally", ["Sue", "Jim"], "Tamika"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['sally', ['Sue', 'Jim'], 'Tamika']]
Jim

##### Looping Through Lists

In [157]:
# Two ways to loop through a list! one is by index; the other is by using the "in" keyword

#by keyword
for i in range (len(names)):
    print(names[i])
    
#loop with "in"
for name in names:
    print(names)

Max
sam
Josh
['sally', ['Sue', 'Jim'], 'Tamika']
Max
sam
Josh
['sally', ['Sue', 'Jim'], 'Tamika']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [236]:

for n in range(1,10001):
    if n > 1000:
        break
    else:
        cuberoot = round(n ** (1/3))
        cr_check = cuberoot ** 3 
        if cr_check == n:
            print(n)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [237]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(101):
    factor = False
    if num > 1:
        for i in range(2, num):
            if (num%i) == 0:
                factor = True
    if factor == False:
        print(num)

0
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [238]:
age = int(input("Enter your age: "))

if age < 18:
    print("kids")
elif age >= 18 and age <= 65:
        print("adults")
else: print("seniors")

Enter your age: 5
kids